@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: hsl(217, 54%, 11%);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Outfit", "Arial", sans-serif;
    overflow: none;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    padding: 2rem;
    width: 9cm;
    height: 15cm;
}

.png {
    width: 7.4cm;
    height: 7.2cm;
    position: relative;
    top: -0.2cm;
    border-radius: 1rem;
}

.title-content {
    font-size: 20px; 
    color: white;
    padding: 5px;
    position: relative;
    top: -7cm;
}

.description-content {
    color: hsl(215, 45%, 58%);
    font-size: 300;
    font-family: Inherit;
    font-size: 15px;
    padding: 5px;
    position: relative;
    top: -6.8cm; 
}

.price {
    position: relative;
    top: -6cm;
}

.text {
    position: relative;
    left: 0.4cm;
    color: hsl(215, 45%, 58%);
    font-size: 15px;
}

.svg-price {
    position: relative;
    top: -0.5cm;
}

.time {
    position: relative;
    top: -7.1cm;
    left: 2.7cm;
    color: hsl(215, 45%, 58%);
}

.time-word {
    position: relative;
    left: 2.5cm;
}

.svg-time {
    position: relative;
    top: -0.5cm;
    left: 2cm;
}

.img-icon {
    position: relative;
    top: 0.6cm;
    left: 0.2cm;
    width: 1cm;
    height: 1cm;
    border: 1px solid white;
    border-radius: 50%;
}
.line {
    width: 7.2cm;
    height: 47px;
    border-bottom: 1px solid hsl(215, 45%, 58%);
    position: fixed;
    top: 14cm;
    left: 16.8cm;
}

.creator {
    position: relative;
    top: -7cm;
    left: 0.4cm;
    color: hsl(215, 45%, 58%);
    font-size: 15px;
}

.creator-name {
    position: relative;
    top: -0.33cm;
    left: 1.5cm;
    color:hsl(215, 45%, 58%);
}
.name {
    color: white;
}

.name:hover {
    color: hsl(215, 45%, 58%);
    cursor: pointer;
}

.title-content:hover {
    color: hsl(215, 45%, 58%);
    cursor: pointer;
}

.card-overlay {
    width: 7.4cm;
    height: 7.2cm;
    position: relative;
    top: -7.5cm;
    border-radius: 1rem;
    background-image: url(./images/icon-view.svg) no-repeat center;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: ease-in 500ms;
  }

  .eye {
    position: relative;
    left: 3cm;
    top: 3cm;
  }
  
  .card-overlay:hover {
    opacity: 1;
    transition: ease-out 500ms;
    backdrop-filter: ease-in 500ms;
  }